@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}
@media screen and (min-width: 1000px){
    .top-container{
    /* max-width: 1200px; */
    padding: 0 5rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 55vh;
    column-gap: 30rem;
}
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.info-title{
    display: block;
    color: hsl(300, 43%, 22%);
    font-size: 3.25rem;
    font-weight: 700;
}
.info-text{
    line-height: 1.5em;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}
.review{
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}
.rating{
    padding: 5px;
    width: 22rem;
    height: 3rem;
    background-color: hsla(300, 25%, 94%, 0.925);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#first-rating{
    right: 100px;
    
}
#second-rating{
    right: 50px;
}
.rating-text{
    padding-left: 14px;
    color: hsl(300, 43%, 22%);
    font-size: 1.1rem;
}
    .testimonials{
        padding: 0 5rem;
        display: flex;
        justify-content: space-between;
    }
    .card{
        height: 10rem;
        max-width: 300px;
        background: hsl(300, 43%, 22%);
        display: flex;
        flex-direction: column;
        border-radius: .75rem;
        padding: 1.5rem;
    }
    #second-card{
        position: relative;
        top: 25px;
    }
    #third-card{
        position: relative;
        top: 50px;
    }
    .person-info{
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    .person-img{
        border-radius: 50%;
        transform: scale(0.5);
    }
    .person{
    flex-direction: column;
}
.person-name{
    color: white;
    margin-bottom: 5px;
}
.person-position{
    color: hsl(333, 80%, 67%);

    }
    .card-text{
        color: white;
        line-height: 1.2rem;
    font-weight: 400;
    font-size: 1rem;
    }
@media screen and (max-width: 1000px){
    .top-container{
        display: flex;
        flex-direction: column;
        column-gap: 3rem;
        /* align-items: center; */
        justify-content: center;
        height: 70vh;
        margin: 0 auto;
    }
    .info{
        flex-direction: column;
    }
    .info-title{
        padding: 0 2rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .info-text{
        padding: 0 2rem;
        text-align: center;
    }
    .review{
        align-items: center;
    }
    .rating{
        margin-top:1.5rem ;
        height: 2.6rem;
        width: 80% !important;
        position: static;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .testimonials{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .card{
        width: 100% !important;
    }
    .card-text{
        line-height: 1.1rem;
    }
}


